Challenge 1: Chipotle Sales


Scenario
You are a financial data analyst at Chipotle and your manager has tasked you with analyzing the most recent sales numbers.
She has provided the following set of questions she would like answered.

Import pandas and dataset.

In [28]:
import pandas as pd

url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

Which was the most-ordered item?

In [29]:
item_counts = chipo['item_name'].value_counts()
most_ordered_item = item_counts.index[0]
print("The most-ordered item is:", most_ordered_item)

The most-ordered item is: Chicken Bowl

For the most-ordered item, how many items were ordered?

In [30]:
num_ordered = item_counts.iloc[0]

print("The most-ordered item was ordered: ", num_ordered)

The most-ordered item was ordered:  726

What was the most ordered item in the choice_description column?

In [31]:
choice_counts = chipo['choice_description'].value_counts()

most_ordered_item = choice_counts.index[0]

print("The most-ordered item in the choice_description column is:", most_ordered_item)

The most-ordered item in the choice_description column is: [Diet Coke]

How many items were ordered in total?

In [32]:
total_items_orderd = chipo['quantity'].sum()

print('In total, there were orderds:' ,total_items_orderd)

In total, there were orderds: 4972

Turn the item price into a float

In [33]:
chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)

# Check the updated DataFrame
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [34]:
chipo['sale'] = chipo['quantity'] * chipo['item_price']
chipo['sale'].sum()

39237.02

How many orders were made in the period?

In [35]:
chipo['order_id'].max()

1834

What is the average revenue amount per order?

In [36]:
order_value = chipo.groupby('order_id')['sale'].sum()
order_value.mean()

21.39423118865867

How many different items are sold?

In [37]:
chipo.item_name.nunique()

50